<a href="https://colab.research.google.com/github/Moliya10/morelia-mae-alob/blob/main/python20211011.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python Data Type

Date: 20211011

Name: morelia mae alob

# 1_Numerics Data Type

# Arithmetic operators

In [39]:
a = 17 / 3
a

5.666666666666667

In [40]:
b = 17 // 3
b

5

In [ ]:
c = 17 % 3
c

2

17 = 5*3 + 2(remainder)

# Logical operators

In [57]:
x = 5
print(x > 9 and x < 18)

False

x = 5   ==>  [x > 3] true

[x < 10] TRUE

[x > 3] and [x < 10] ==> True and true ==> ture

In [56]:
x = 5
print(x > 9 and x > 18)

False

x = 5  ==> [x > 9] Ture |  [x>18] False 

[True] and [False] ==> False 


[True] and [True] ==> True

[True] and [False] ==> False 

[False] and [True] ==> False

[False] and [False] ==> False

In [55]:
x = 5
print(x > 9 or x > 18)

False

[True] or [True] ==> True

[True] or [False] ==> True

[False] or [True] ==> True

[False] or [False] ==> False

# Built-in functions

Python has many Built-in functions

In [54]:
bin(3)

'0b11'

decimal 3  ==> binary 

0b11 = 1*2 + 1 = 3

ob111 =? 

0b111 = 1* 2^2 + 1*2 +1 =7

In [53]:
int(0b111)

7

# 2_string data type

In [ ]:
str3 = 'allows embedded "double" quotes'
str3

'allows embedded "double" quotes'

## operation on strings

index

In [52]:
var1 = 'Hello crush!'

print("var1[1]: ", var1[1])

var1[1]:  e

var1 = 'Hello crush!'

var1[0] ==> H

var1[1] ==> e

and so on

## slice operation

In [51]:
b = "Hello, life!"
#print(b[2:5])
#print(b[:6])
#print(b[2:])
print(b[-5:-2])

lif

## Python string method

https://www.w3schools.com/python/python_strings_methods.asp

## capitalize()	Converts the first character to upper case

In [50]:
txt = "hello,  welcome to my life."

x = txt.capitalize()

print (x)

Hello,  welcome to my life.

## Python String join() Method

In [49]:
myTuple = ("morelia", "mae", "alob")

x = "#".join(myTuple)

print(x)

morelia#mae#alob

In [46]:
txt = "apple"

x = txt.ljust(20)

print(x, "is one of  my favorite fruit.")

apple                is one of  my favorite fruit.

In [47]:
txt = "     apple     "

x = txt.lstrip()

print("is one of my favorite fruits", x, "is my favorite")

is one of my favorite fruits apple      is my favorite

# 3_list data type

In [45]:
list1 = [18, 30, 11, 9, 29, 95]

list1[1]

30

list1 = [18, 30, 11, 9, 29, 95]

index of list1

list1[0] => 18

list1[1] => 30

and so on

## slice operation

In [48]:
list1[1:3]

[30, 11]

## list built-in functions

In [42]:
len(list1)

6

In [43]:
max(list1)

95

In [44]:
min(list1)

9

## 4_dict data type


dict = {'Name': 'morelia mae alob', 'Age': 20, 'Class': 'First'}

==> 3 key-value pairs

'Name': 'morelia mae alob'  ==> Name: key , morelia mae alob : value

'Age': 20

'Class': 'First'


seperated by ,


many key-value pairs

In [41]:
dict = {'Name': 'morelia mae alob', 'Age': 20, 'Class': 'First'}
print("dict['Age']: ", dict['Age'])

dict['Age']:  20